<?xml version="1.0"?>
<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <include file="$(find mdr_rosplan_interface)/ros/launch/rosplan.launch">
        <arg name="data_path" value="$(find mdr_demo_patrol)/config/" />
        <arg name="domain_path" value="$(find mdr_demo_patrol)/config/domain.pddl" />
        <arg name="problem_path" value="$(find mdr_demo_patrol)/config/problem.pddl" />
        <arg name="strl_file_path" value="$(find mdr_demo_patrol)/config/plan.strl" />
    </include>

    <!-- Actions -->
    <include file="$(find mas_hsr_move_arm_action)/ros/launch/move_arm.launch" />

    <!--include file="$(find mdr_move_base_action)/ros/launch/move_base_action.launch" /-->
    <include file="$(find mdr_move_base_action)/ros/launch/move_base_client.launch" />

    <!-- State machine -->
    <node pkg="mas_execution_manager" type="state_machine_creator" name="patrol" output="screen">
        <param name="sm_config_file" type="str" value="$(find mdr_demo_patrol)/config/patrol_sm.yaml" />
    </node>
</launch>
