<?xml version="1.0"?>
<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <include file="$(find mdr_rosplan_interface)/ros/launch/rosplan.launch">
        <arg name="data_path" value="$(find mdr_demo_patrol)/config/" />
    </include>

    <!-- Actions -->
    <include file="$(find mdr_move_arm_action)/ros/launch/move_arm.launch" />

    <include file="$(find mdr_move_base_action)/ros/launch/move_base_action.launch" />
    <include file="$(find mdr_move_base_action)/ros/launch/move_base_client.launch" />

    <!-- State machine -->
    <param name="/sm_config_file" type="str" value="$(find mdr_demo_patrol)/config/patrol_sm.yaml" />
    <node pkg="mas_execution_manager" type="state_machine_creator" name="patrol" output="screen" />
</launch>
