<?xml version="1.0"?>
<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <include file="$(find mdr_rosplan_interface)/ros/launch/rosplan.launch">
        <arg name="data_path" value="$(find mdr_where_is_this)/config/" />
        <arg name="domain_path" value="$(find mdr_rosplan_interface)/config/default_domain.pddl" />
        <arg name="problem_path" value="$(find mdr_where_is_this)/config/problem.pddl" />
        <arg name="strl_file_path" value="$(find mdr_where_is_this)/config/plan.strl" />
    </include>

    <include file="$(find mdr_listen_action)/ros/launch/listen.launch" />

    <!-- <include file="$(find mdr_find_people)/ros/launch/find_people.launch" />
    <include file="$(find mdr_find_people)/ros/launch/find_people_client.launch" />
    <include file="$(find mdr_listen_action)/ros/launch/listen.launch" />
    <include file="$(find mdr_move_base_action)/ros/launch/move_base_client.launch" /> -->

    <!-- State machine -->
    <node pkg="mas_execution_manager" type="state_machine_creator" name="where_is_this" output="screen">
        <param name="sm_config_file" type="str" value="$(find mdr_where_is_this)/config/where_is_this_sm.yaml" />
    </node>
</launch>
