# Default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review
# when someone opens a pull request.
* @argenos @alex-mitrevski @PatrickNa @b-it-bots/domestic-junior-devs @b-it-bots/domestic-senior-devs

mdr_perception @minhnh
mdr_navigation @argenos
