SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c52", ATTRS{idProduct}=="2104", KERNEL=="ttyUSB*", SYMLINK+="volksbot/sick_lms_200"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", KERNEL=="ttyUSB*", SYMLINK+="volksbot/vb_motorcontroller"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", KERNEL=="ttyUSB*", SYMLINK+="volksbot/ptu46"
