<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find mdr_description)/urdf/torso/volksbot/torso.gazebo.xacro" />

	<xacro:macro name="volksbot_torso" params="parent name *origin">
		<link name="${name}_lower_link">
			<inertial>
				<mass value="1" />
				<origin xyz="0 0 0" />
				<inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
			</inertial>
			
			<visual>
				<origin xyz="0 0 0.26" rpy="0 0 0" />
				<geometry>
					<box size="0.06 0.06 0.52"/>
				</geometry>
				<material name="Grey" />
			</visual>
			
			<collision>
				<origin xyz="0 0 0.26" rpy="0 0 0" />
				<geometry>
					<box size="0.06 0.06 0.52"/>
				</geometry>
			</collision>
		</link>
	
		<joint name="${name}_lower_joint" type="fixed">
			<insert_block name="origin" />
			<parent link="${parent}"/>
			<child link="${name}_lower_link"/>
		</joint>
	
	
		<link name="${name}_upper_link">
			<inertial>
				<mass value="1" />
				<origin xyz="0 0 0" />
				<inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
			</inertial>
			
			<visual>
				<origin xyz="0.04 0 -0.01" rpy="0 0 0" />
				<geometry>
					<box size="0.02 0.345 0.02"/>
				</geometry>
				<material name="Grey" />
			</visual>
			
			<collision>
				<origin xyz="0.04 0 -0.01" rpy="0 0 0" />
				<geometry>
					<box size="0.02 0.345 0.02"/>
				</geometry>
			</collision>
		</link>
	
		<joint name="${name}_upper_joint" type="fixed">
			<parent link="${name}_lower_link"/>
			<child link="${name}_upper_link"/>
			<origin xyz="0 0 0.52" rpy="0 0 0" />
		</joint>
		
		<!-- extensions -->
		<xacro:volksbot_torso_gazebo name="${name}" />
	</xacro:macro>

</robot>
