<?xml version="1.0"?>
<launch>

	<!-- define arguments -->
	<arg name="robot" default="$(env ROBOT)"/>
	<arg name="pkg_hardware_config" default="$(find mdr_hardware_config)"/>

	<!-- send robot urdf to param server -->
	<include file="$(arg pkg_hardware_config)/common/upload_robot.launch" >
		<arg name="robot" default="$(arg robot)"/>
		<arg name="pkg_hardware_config" default="$(arg pkg_hardware_config)"/>
	</include>

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot -x 0.8 -z 0.1 " respawn="false" output="screen" />

	<!-- start gazebo controllers -->
	<include file="$(find mdr_controller_configuration_gazebo)/ros/launch/default_controllers_$(arg robot).launch" />

</launch>