<?xml version="1.0"?>
<launch>

  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>

  <include file="$(find mdr_bringup)/robot.launch" />
  <include file="$(find mcr_default_env_config)/upload_param.launch" />
  
  <!-- PC1 -->
  <group>
    <machine name="brsu-pc1" address="cob3-1-pc1" env-loader="$(find mdr_bringup)/env.sh" default="true" />

    <include file="$(find mdr_2dnav)/ros/launch/2dnav_dwa.launch" />

    <include file="$(find mdr_lwr)/ros/launch/lwr.launch" />
    <include file="$(find mdr_moveit_cob)/launch/move_group.launch" />
    <include file="$(find mdr_simple_pickup)/ros/launch/simple_pickup.launch" />
    <include file="$(find mdr_simple_place)/ros/launch/simple_place.launch" />
  </group>


  <!-- PC2 -->
  <group>
    <machine name="brsu-pc2" address="cob3-1-pc2" env-loader="$(find mdr_bringup)/env.sh" default="true"/>
 
    <include file="$(find mcr_object_recognition_height_based)/ros/launch/object_recognition_height_based.launch" />
  </group>
</launch>
