<?xml version="1.0"?>
<launch>
    <arg name="move_arm_server" default="move_arm_server" />
    <arg name="move_base_server" default="move_base_server" />
    <arg name="gripper_controller_pkg_name" default="mdr_gripper_controller" />
    <arg name="pregrasp_config_name" default="pregrasp" />
    <arg name="pregrasp_low_config_name" default="pregrasp_low" />
    <arg name="pregrasp_top_config_name" default="pregrasp_top" />
    <arg name="pregrasp_height_threshold" default="0.65" />
    <arg name="intermediate_grasp_offset" default="0.1" />
    <arg name="safe_arm_joint_config" default="folded" />
    <arg name="base_elbow_offset" default="-1." />
    <arg name="grasping_dmp" default="$(find mdr_pickup_action)/config/trajectory_weights/weights_table_grasp.yaml" />
    <arg name="dmp_tau" default="30" />
    <arg name="number_of_retries" default="0" />
    <arg name="grasping_orientation" default="[0, 0, 0, 1]" />

    <node pkg="mdr_pickup_action" type="pickup_action" name="pickup_server" output="screen">
        <param name="move_arm_server" value="$(arg move_arm_server)" />
        <param name="move_base_server" value="$(arg move_base_server)" />
        <param name="gripper_controller_pkg_name" value="$(arg gripper_controller_pkg_name)" />
        <param name="pregrasp_config_name" value="$(arg pregrasp_config_name)" />
        <param name="pregrasp_low_config_name" value="$(arg pregrasp_low_config_name)" />
        <param name="pregrasp_top_config_name" value="$(arg pregrasp_top_config_name)" />
        <param name="pregrasp_height_threshold" value="$(arg pregrasp_height_threshold)" />
        <param name="intermediate_grasp_offset" value="$(arg intermediate_grasp_offset)" />
        <param name="safe_arm_joint_config" value="$(arg safe_arm_joint_config)" />
        <param name="base_elbow_offset" value="$(arg base_elbow_offset)" />
        <param name="grasping_dmp" value="$(arg grasping_dmp)" />
        <param name="dmp_tau" value="$(arg dmp_tau)" />
        <param name="number_of_retries" value="$(arg number_of_retries)" />
        <rosparam param="grasping_orientation" subst_value="True">$(arg grasping_orientation)</rosparam>
    </node>
</launch>
