<?xml version="1.0"?>
<launch>
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
        <param name="autorepeat_rate" value="50.0" />
	</node>


    <node pkg="pr2_teleop" type="teleop_pr2" name="pr2_teleop" output="screen">
        <rosparam file="$(find mdr_default_robot_config)/$(env ROBOT)/teleop.yaml" command="load" />
    </node>

</launch>
