<?xml version="1.0"?>
<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <include file="$(find mdr_rosplan_interface)/ros/launch/rosplan.launch">
        <arg name="data_path" value="$(find mdr_sciroc_elevator)/config/" />
        <arg name="domain_path" value="$(find mdr_rosplan_interface)/config/default_domain.pddl" />
        <arg name="problem_path" value="$(find mdr_sciroc_elevator)/config/problem.pddl" />
        <arg name="strl_file_path" value="$(find mdr_sciroc_elevator)/config/plan.strl" />
    </include>

    <include file="$(find mdr_listen_action)/ros/launch/listen.launch" />
    <include file="$(find mas_hsr_enter_door_action)/ros/launch/enter_door.launch">
        <arg name="movement_duration" value="1" /> 
        <arg name="movement_speed" value="0.1" /> 
    </include>
    <!--include file="$(find mas_hsr_move_forward_action)/ros/launch/move_forward.launch" /-->
    
    <node name="nlu_model" type="rasa_server.py" pkg="mdr_sciroc_elevator" />

    <!-- State machine -->
    <node pkg="mas_execution_manager" type="state_machine_creator" name="sciroc_elevator" output="screen">
        <param name="sm_config_file" type="str" value="$(find mdr_sciroc_elevator)/config/sciroc_elevator.yaml" />
    </node>
</launch>
