<?xml version="1.0"?>
<launch>
    <include file="$(find mdr_perception_libs)/ros/launch/image_recognition.launch" >
        <arg name="model_directory" value="$(find mdr_object_recognition)/models"/>
        <arg name="recognition_module" value="mdr_perception_libs"/>
        <arg name="recognition_class" value="KerasImageClassifier"/>
    </include>
</launch>