<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Front wheel transmission   -->
   	<xacro:macro name="volksbot_front_wheel_transmission" params="suffix parent reflect">
		        <transmission name="${parent}_${suffix}_front_wheel_trans">
			  <type>transmission_interface/SimpleTransmission</type>
			  <actuator name="${parent}_${suffix}_front_wheel_motor">
<!--			    <hardwareInterface>EffortJointInterface</hardwareInterface> -->
			    <hardwareInterface>VelocityJointInterface</hardwareInterface> 
			    <mechanicalReduction>${reflect * 624/35 * 80/18}</mechanicalReduction>
			  </actuator>
			  <joint name="${parent}_${suffix}_front_wheel_joint" />
			 </transmission>
	</xacro:macro>

</robot>
