<?xml version="1.0"?>
<launch>

  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
  
  <param name="/SpeechGrammarFile" value="demo.xml" />

  <include file="$(find mdr_bringup)/robot.launch" />
  <include file="$(find mcr_default_env_config)/upload_param.launch" />
  
  <!-- PC1 -->
  <group>
    <machine name="brsu-pc1" address="cob3-1-pc1" env-loader="$(find mdr_bringup)/env.sh" default="true" />

    <!-- manipulation -->
    <include file="$(find mdr_lwr)/ros/launch/lwr.launch" />
    <include file="$(find mdr_moveit_cob)/launch/move_group.launch" />

    <include file="$(find mdr_topic_to_service)/ros/launch/topic_to_service.launch" />

    <include file="$(find mdr_2dnav)/ros/launch/2dnav_eband.launch" />

    <include file="$(find mdr_simple_pickup)ros//launch/simple_pickup.launch" />
    <include file="$(find mcr_leg_detection)/ros/launch/leg_detection.launch" />
    <!--include file="$(find mdr_bottle_weight)/launch/bottle_weight.launch" /-->
    <!--include file="$(find mdr_table_cleaning)/ros/launch/table_cleaning.launch" /-->
    <!--include file="$(find mdr_arm_pointing)/ros/launch/arm_pointing.launch" /-->
    <include file="$(find mdr_haptic)/ros/launch/haptic_guidance.launch" />
       
    <!-- DIAGNOSTICS -->
    <include file="$(find mcr_node_monitor)/ros/launch/node_status_aggregator.launch" >
	<arg name="cfg_file" default="lab_demo.cfg" />
    </include>
  </group>


  <!-- PC2 -->
  <group>
    <machine name="brsu-pc2" address="cob3-1-pc2" env-loader="$(find mdr_bringup)/env.sh" default="true"/>
 
    <include file="$(find mcr_body_detection_3d)/ros/launch/body_detection_3d.launch" />
    <include file="$(find mcr_object_recognition_height_based)/ros/launch/object_recognition_height_based.launch" />
    <include file="$(find mcr_virtual_laser_scanner)/ros/launch/virtual_laser_scanner.launch"/>
    <include file="$(find mcr_people_tracking)/ros/launch/waist_tracker.launch"/>
    <include file="$(find mcr_follow_person)/ros/launch/follow_person.launch"/>
    <include file="$(find mcr_object_categorization)/ros/launch/object_categorization.launch" />

  </group>
</launch>
