<?xml version="1.0"?>
<launch>
	<param name="/SpeechGrammarFile" value="gpsr1.xml" />

    <include file="$(find mdr_mockup_nodes)/ros/launch/mockup.launch" />
  
    <group ns="/script_server">
		<rosparam command="load" ns="base" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/navigation_goals_general_purpose_1.yaml"/>
		<rosparam command="load" ns="base" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/entrance.yaml"/>
		<!-- send NAMES parameters to parameter server -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_speech_names.yaml"/>
		<!-- send PLACES parameters to parameter server -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_speech_places.yaml"/>
		<!-- send GRASP PLACES parameters to parameter server -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_speech_grasp_locations.yaml"/>
		<!-- send Location classes to parameter server (needed for gpsr) -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_speech_location_classes.yaml"/>
		<!-- send object classes to parameter server (needed for gpsr) -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_speech_object_classes.yaml"/>

		<!-- send TEACHED TEAM MEMBERS to parameter server (needed for Who is who) -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_teached_team_member_faces.yaml"/>

		<!-- send ACTION parameters to parameter server -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_speech_actions.yaml"/>
		<!-- send OBJECTS parameters to parameter server -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_speech_objects.yaml"/>

		<!-- roomname to loc. mapping -->
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_living_room_places.yaml"/>
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_office_places.yaml"/>
		<rosparam command="load" file="$(find mcr_default_env_config)/$(env ROBOT_ENV)/mdr_kitchen_places.yaml"/>
	</group>


</launch>
