<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pkg_env_config" default="$(find mcr_default_env_config)"/>

	<!-- startup hardware -->
	<include file="$(find cob_bringup)/robots/$(arg robot).launch" >
		<arg name="robot_env" default="$(arg robot_env)"/>
		<arg name="pkg_env_config" default="$(arg pkg_env_config)"/>
	</include>

	<group>
		<machine name="hbrs_pc1" address="cob3-1-pc1" env-loader="$(find mdr_bringup)/env.sh" default="true" />

		<include file="$(find mdr_default_robot_config)/upload_param.launch" />
		<include file="$(find mcr_default_env_config)/upload_param.launch" />
				
		<!-- start script_server and upload cob default parameters to parameter server -->
		<group ns="script_server">
			<!-- upload default parameters to parameter server -->
			<include file="$(find mdr_default_robot_config)/upload_param.launch" />
			<include file="$(find mcr_default_env_config)/upload_param.launch" />

			<!-- start script_server -->
			<include file="$(find cob_script_server)/launch/script_server.launch" />
		</group>
		<!--node pkg="tf" type="static_transform_publisher" name="kinect_base_link" args="0 0 0 0 0 0  /head_cam3d_link /openni_camera 100" /-->

	</group>

	<group>
		<machine name="hbrs_pc2" address="cob3-1-pc2" env-loader="$(find mdr_bringup)/env.sh" default="true" />

		<!-- brsu specific packages -->
		<include file="$(find mdr_bringup)/components/openni2.launch" />
		<include file="$(find mdr_bringup)/components/stemmer_cam.launch" />
	</group>


</launch>
