<?xml version="1.0"?>
<launch>
    <include file="$(find mdr_mbot_logger)/ros/launch/mbot_logger.launch">

    </include>

    <include file="$(find mdr_speech_recognition)/ros/launch/speech_recognition.launch">

    </include>

    <include file="$(find mbot_nlu)/ros/launch/mbot_nlu.launch">
        <arg name="nlu_classifier" value="erick_gpsr" />
    </include>
</launch>
