<?xml version="1.0"?>
<launch>
    <arg name="move_base_server" default="/move_base_server" />
    <arg name="rotation_frame" default="base_link" />

    <node pkg="mdr_turn_base_to_action" type="turn_base_to_action" name="turn_base_to_action" output="screen" ns="mdr_actions" >
        <param name="move_base_server" value="$(arg move_base_server)" />
        <param name="rotation_frame" value="$(arg rotation_frame)" />
    </node>
</launch>
