<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find katana_description)/urdf/katana_400_6m180_with_controlbox.urdf.xacro"/>  
	<!-- <xacro:include filename="$(find katana_description)/urdf/katana_450_6m90a.urdf.xacro"/> -->
	<!-- <xacro:include filename="$(find katana_description)/urdf/katana_300_6m180.urdf.xacro"/> -->
	<!-- <xacro:include filename="$(find katana_description)/urdf/katana_400_6m180.urdf.xacro"/> -->

	<xacro:macro name="katana_arm" params="parent name *origin">
		<joint name="katana_internal_controlbox_joint" type="fixed">
			<insert_block name="origin" />
			<parent link="${parent}" />
			<child link="katana_internal_controlbox_link"/>
		</joint>
	</xacro:macro>

</robot>
