<?xml version="1.0"?>
<launch>
	
	<param name="/use_sim_time" value="false"/>
	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pkg_env_config" default="$(find mcr_default_env_config)"/>

	<include file="$(find mdr_bringup)/robots/$(arg robot).launch" >
    	<arg name="robot" value="$(arg robot)"/>
		<arg name="robot_env" value="$(arg robot_env)" />
		<arg name="pkg_env_config" value="$(arg pkg_env_config)" />
	</include>

</launch>
