<?xml version="1.0"?>
<launch>

	<node pkg="mdr_volksbot_motorcontroller" type="volksbot_motorcontroller_node" name="mdr_volksbot_motorcontroller"  output="screen">
		<param name="device_name" value="/dev/volksbot/vb_motorcontroller" />
		<remap from="~cmd_vel" to="/cmd_vel" />
		<remap from="~odom" to="/odom" />
		<remap from="~battery_status" to="/power_state" />
		<remap from="~joint_states" to="/joint_states" />
	</node>
</launch>
