<?xml version="1.0"?>
<launch>

	<param name="/use_sim_time" value="true"/>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pkg_robot_config" default="$(find mdr_default_robot_config)"/>
	<arg name="pkg_env_config" default="$(find mcr_default_env_config)"/>

	<!-- default parameter -->
	<include file="$(arg pkg_robot_config)/upload_param.launch">
		<arg name="robot" value="$(arg robot)" />
	</include>
	<include file="$(arg pkg_env_config)/upload_param.launch">
		<arg name="robot_env" value="$(arg robot_env)" />
	</include>

	<!-- world -->
	<include file="$(find mcr_gazebo_worlds)/ros/launch/$(arg robot_env).launch" />

	<!-- robot -->
	<include file="$(find mdr_bringup_sim)/robots/$(arg robot).launch" >
		<arg name="robot" value="$(arg robot)"/>
	</include>

</launch>
