<?xml version="1.0"?>
<launch>
    <!-- State machine -->
    <node pkg="mas_execution_manager" type="state_machine_creator" name="item_delivery" output="screen">
        <param name="sm_config_file" type="str" value="$(find heartmet_demo_item_delivery)/config/handover_demo_sm.yaml" />
    </node>
</launch>