<?xml version="1.0"?>
<launch>

    <!-- Move Base Client -->

    <!-- Perceive Plane Client -->
    <include file="$(find mdr_perceive_plane_action)/ros/launch/perceive_plane_client.launch" />
    
    <!-- Pickup Client -->
    <!-- <include file="$(find mas_hsr_pickup_action)/ros/launch/pickup_action.launch" /> -->
    <include file="$(find mdr_pickup_action)/ros/launch/pickup_client.launch" />
    <include file="$(find mdr_place_action)/ros/launch/place_client.launch" />
    
    <!-- State machine -->
    <node pkg="mas_execution_manager" type="state_machine_creator" name="item_delivery" output="screen">
        <param name="sm_config_file" type="str" value="$(find heartmet_demo_item_delivery)/config/gg_percieve_pick_place.yaml" />
    </node>
</launch>

