<?xml version="1.0"?>
<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)" />
    
    <!-- problem generation -->
    <include file="$(find mdr_rosplan_interface)/ros/launch/rosplan.launch">
        <arg name="data_path" value="$(find heartmet_demo_item_delivery)/config/" />
        <arg name="domain_path" value="$(find heartmet_demo_item_delivery)/config/domain.pddl" />
    </include>

    <!-- Actions -->
  

    <!-- Move Arm Action -->
    <include file="$(find mas_hsr_move_arm_action)/ros/launch/move_arm.launch" /> 
    
    <!-- Move Arm Joints Action-->
    <include file="$(find mas_hsr_move_arm_joints_action)/ros/launch/move_arm_joints.launch" />
    
    <!-- Move Base Action -->
    <include file="$(find mas_hsr_move_base_action)/ros/launch/move_base.launch" />
    <include file="$(find mdr_move_base_action)/ros/launch/move_base_client.launch" />
    


    <!-- State machine -->
    <node pkg="mas_execution_manager" type="state_machine_creator" name="item_delivery" output="screen">
        <param name="sm_config_file" type="str" value="$(find heartmet_demo_item_delivery)/config/nav_goal_tests.yaml" />
    </node>
</launch>
