<?xml version="1.0"?>
<launch>

    <!-- Actions -->
    <include  file= "$(find mdr_turn_base_to_action)/ros/launch/turn_base_to_server.launch" />
    <include  file= "$(find mdr_detect_person)/ros/launch/detect_person_server.launch" />
    <include  file= "$(find mdr_gender_recognition)/ros/launch/gendder_recognition.launch" />


    <!-- State machine -->
    <param name="sm_config_file" type="str" value="$(find mdr_store_groceries)/config/spr_sm.yaml" />
    <node pkg="mdr_execution_manager" type="state_machine_creator" name="store_groceries" output="screen" />

</launch>
