<?xml version="1.0"?>
<launch>
    <node pkg="mdr_speech_recognition" type="speech_recognition_node" name="speech_recognition_node" output="screen">
        <param name="model_directory" type="str" value="$(find mdr_speech_recognition)/config/models/tdnn_en" />
        <param name="use_kaldi"       value="true"/>
    </node>

</launch>
