<?xml version="1.0"?>
<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <include file="$(find mdr_rosplan_interface)/ros/launch/rosplan.launch" />

    <include file="$(find mdr_speech_recognition)/ros/launch/speech_recognition.launch" />
    <include file="$(find mdr_detect_person)/ros/launch/detect_person.launch" />
    <include file="$(find mdr_recognize_emotion_action)/ros/launch/recognize_emotion.launch" />
    <include file="$(find mdr_gender_recognition)/ros/launch/gender_recognition.launch" />

    <!-- State machine -->
    <node pkg="mas_execution_manager" type="state_machine_creator" name="describe_people" output="screen">
        <param name="sm_config_file" type="str" value="$(find mdr_demo_describe_people)/config/describe_people_sm.yaml" />
    </node>
</launch>
