<?xml version="1.0"?>
<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <include file="$(find mdr_rosplan_interface)/ros/launch/rosplan.launch" />

    <!-- Actions -->
    <include file="$(find mdr_move_arm_action)/ros/launch/move_arm.launch" />

    <include file="$(find mdr_move_base_action)/ros/launch/move_base_action.launch" />
    <include file="$(find mdr_move_base_action)/ros/launch/move_base_client.launch" />

    <include file="$(find mdr_perceive_plane_action)/ros/launch/perceive_plane.launch" />
    <include file="$(find mdr_perceive_plane_action)/ros/launch/perceive_plane_client.launch" />

    <include file="$(find mdr_pickup_action)/ros/launch/pickup_action.launch" />
    <include file="$(find mdr_pickup_action)/ros/launch/pickup_client.launch" />

    <!-- State machine -->
    <node pkg="mas_execution_manager" type="state_machine_creator" name="serve_drinks" output="screen">
        <param name="sm_config_file" type="str" value="$(find mdr_serve_drinks)/config/serve_drinks_sm.yaml" />
    </node>
</launch>
