<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="volksbot">

	<!-- common definitions -->
	<xacro:include filename="$(find mcr_description)/urdf/common.xacro" />
	
	<!-- calibration -->
	<xacro:include filename="$(find mdr_calibration_data)/$(env ROBOT)/calibration/calibration.urdf.xacro" />
	
	<!-- materials for visualization -->
	<xacro:include filename="$(find mcr_description)/urdf/materials.urdf.xacro" />
	
	<!-- base -->
	<xacro:include filename="$(find mdr_description)/urdf/base/volksbot/base.urdf.xacro"/>
	
	<!-- torso -->
	<xacro:include filename="$(find mdr_description)/urdf/torso/volksbot/torso.urdf.xacro"/>
	
	<!-- ptu -->
	<xacro:include filename="$(find mcr_description)/urdf/ptu/ptu46.urdf.xacro"/>
	
	<!-- head -->
	<xacro:include filename="$(find mdr_description)/urdf/head/volksbot/head.urdf.xacro"/>
	
	<!-- arm -->

	<xacro:include filename="$(find mdr_description)/urdf/arm/katana_arm.urdf.xacro"/>


	<xacro:volksbot_base name="base"/>

	<xacro:volksbot_torso name="torso" parent="base_upper_case_link">
		<origin xyz="-0.125 0 0.05" rpy="0 0 0" />
	</xacro:volksbot_torso>


	<xacro:ptu46 name="ptu" parent="torso_upper_link">
		<origin xyz="0 0 0.0275" rpy="0 0 0" />
	</xacro:ptu46>

	<xacro:volksbot_head name="head" parent="ptu_tilt_link">
		<origin xyz="0 0 0.045" rpy="0 0 0" />
	</xacro:volksbot_head>


	<xacro:katana_arm name="arm" parent="base_upper_case_link">
		<origin xyz="0.128 0 -0.03" rpy="0 0 0" />
	</xacro:katana_arm>


</robot>
