<?xml version="1.0"?>
<launch>
    <arg name="action_dispatch_topic" default="/kcl_rosplan/action_dispatch"/>
    <arg name="action_feedback_topic" default="/kcl_rosplan/action_feedback"/>
    <arg name="knowledge_update_service" default="/kcl_rosplan/update_knowledge_base"/>

    <node pkg="mdr_place_action" type="place_client" name="place_client" output="screen">
        <param name="action_name" type="str" value="place" />
        <param name="server_name" type="str" value="/place_server" />
        <param name="action_timeout" type="double" value="20" />
        <param name="placing_pose_frame" type="str" value="base_link" />
        <remap from="action_dispatch_topic" to="$(arg action_dispatch_topic)" />
        <remap from="action_feedback_topic" to="$(arg action_feedback_topic)" />
        <remap from="knowledge_update_service" to="$(arg knowledge_update_service)" />
    </node>
</launch>
