<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- kinect -->
<!--
	<xacro:include filename="$(find mdr_description)/urdf/head/volksbot/head.transmission.xacro" />
-->
        <xacro:include filename="$(find mcr_description)/urdf/sensors/kinect_camera.urdf.xacro"/>

	<xacro:macro name="volksbot_head" params="parent name *origin">
		<link name="${name}_camera_link" />
		
		<joint name="${name}_camera_joint" type="fixed">
			<insert_block name="origin" />
			<parent link="${parent}"/>
			<child link="${name}_camera_link"/>
		</joint>
	
		<!-- kinect -->
		<xacro:kinect_camera name="openni" parent="${name}_camera_link">
			<origin xyz="0 0 0.01" rpy="0 0 ${M_PI}" />
		</xacro:kinect_camera>

<!--
		<xacro:volksbot_ptu_transmission name="${name}"/>
-->
	</xacro:macro>
</robot>
