<?xml version="1.0"?>
<launch>

	<!-- send ROBOT parameters to parameter server -->
	<rosparam command="load" ns="/script_server/base" file="$(find mdr_default_robot_config)/cob3-1/base_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/tray" file="$(find mdr_default_robot_config)/cob3-1/tray_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/torso" file="$(find mdr_default_robot_config)/cob3-1/torso_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/head" file="$(find mdr_default_robot_config)/cob3-1/head_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/arm" file="$(find mdr_default_robot_config)/cob3-1/arm_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/gripper" file="$(find mdr_default_robot_config)/cob3-1/gripper_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/light" file="$(find mdr_default_robot_config)/cob3-1/light_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/sound" file="$(find mdr_default_robot_config)/cob3-1/sound_configurations.yaml"/>

</launch>
