<?xml version="1.0"?>
<launch>
    <arg name="gripper_controller_pkg_name" default="mdr_gripper_controller" />
    <arg name="move_arm_server" default="move_arm_server" />
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="movement_speed_ms" default="0.1" />
    <arg name="safe_arm_joint_config" default="folded" />
    <arg name="number_of_retries" default="0" />

    <node pkg="mdr_push_pull_object_action" type="push_pull_object_action" name="push_pull_object_server" output="screen">
        <param name="gripper_controller_pkg_name" value="$(arg gripper_controller_pkg_name)" />
        <param name="move_arm_server" value="$(arg move_arm_server)" />
        <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
        <param name="movement_speed_ms" value="$(arg movement_speed_ms)" />
        <param name="safe_arm_joint_config" value="$(arg safe_arm_joint_config)" />
        <param name="number_of_retries" value="$(arg number_of_retries)" />
    </node>
</launch>
